<launch>
	<arg name="date" 			default="20190725" />
	<arg name="trial" 		default="003" />
	<arg name="origin" 		default="/vicon" />
	<arg name="vicon_ip" 	default="192.168.10.1" />

	<node pkg="vicon_bridge" type="vicon_bridge" name="vicon_bridge_$(env HOST)" output="screen">
		<param name="stream_mode" value="ClientPull" type="str" />
		<param name="datastream_hostport" value="$(arg vicon_ip):801" type="str" />
		<param name="tf_ref_frame_id" value="$(arg origin)" type="str" />
	</node>

</launch>
