<launch>
	<arg name="date" 			default="20190722" />
	<arg name="trial" 		default="001" />
	<arg name="origin" 		default="/vicon" />
	<arg name="objects"		default="mkiii,mkiv" /> <!-- no spaces! -->


	<node pkg="vicon_bridge" type="vicon_bridge" name="vicon_bridge_$(env HOST)" output="screen">
		<param name="stream_mode" value="ClientPull" type="str" />
		<param name="datastream_hostport" value="192.168.10.1:801" type="str" />
		<param name="tf_ref_frame_id" value="$(arg origin)" type="str" />
	</node>


	<include file="$(find vicon_bridge)/launch/vicon_logger_array.launch">
		<param name="/trial"		value="$(arg trial)" />
		<param name="/date"			value="$(arg date)" />
		<param name="/origin"		value="$(arg origin)" />
		<param name="/objects"	value="$(arg objects)" /> <!-- no spaces! -->
	</include>



</launch>
